<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Auction Nation</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
		<FlexibleAuthorizeView Permissions="@Permissions.Auction">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="listings">
					<span class="oi oi-list-rich" aria-hidden="true"></span> All Listings
				</NavLink>
			</div>
		</FlexibleAuthorizeView>
		<FlexibleAuthorizeView Permissions="@Permissions.Auction">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="auctions">
					<span class="oi oi-script" aria-hidden="true"></span> My Auctions
				</NavLink>
			</div>
		</FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@Permissions.Auction">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="map">
                    <span class="oi oi-map-marker" aria-hidden="true"></span> Map
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
		<FlexibleAuthorizeView Permissions="@Permissions.Auction">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="bids">
					<span class="oi oi-dollar" aria-hidden="true"></span> My Bids
				</NavLink>
			</div>
		</FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@(Permissions.ManageUsers)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/users">
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@(Permissions.ViewRoles | Permissions.ManageRoles)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/roles">
                    <span class="oi oi-badge" aria-hidden="true"></span> Roles
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@(Permissions.ViewAccessControl | Permissions.ConfigureAccessControl)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/access-control">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Access Control
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
