@using System;
@using System.Text.RegularExpressions;
@using System.Web.Mvc;

@page "/auctions/new"
@attribute [Cegeka.Auction.WebUI.Shared.Authorization.AuthorizeAttribute(Permissions.Auction)]

<PageTitle>New Auction</PageTitle>

<h3>Create auction</h3>

@if (Model == null) return;

<section>
    <EditForm Model="@Model.Auction" OnValidSubmit="@AddAuction">

        <DataAnnotationsValidator />

        <!-- Title -->
        <div class="row">
            <div class="form-group">
                <label for="title" class="col-sm-3">Title</label>
                <InputText id="title" class="form-control col-sm-8" @bind-Value="@Model.Auction.Title" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.Title)" />
            </div>
        </div>

		<!-- Description -->
		<div class="row">
			<div class="form-group row">
				<label for="description" class="col-sm-3">Description</label>
				<InputTextArea id="description" class="form-control col-sm-8" rows="5" @bind-Value="@Model.Auction.Description" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.Description)" />
			</div>
		</div>
        <!-- Locations-->
        <div class="row">
            <div class="form-group">
                <label for="description" class="col-sm-3">Coord lat</label>
                <InputNumber id="description" class="form-control col-sm-8" rows="5" @bind-Value="@Model.Auction.Lat" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.Lat)" />
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="description" class="col-sm-3">Coord lon</label>
                <InputNumber id="description" class="form-control col-sm-8" rows="5" @bind-Value="@Model.Auction.Lon" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.Lon)" />
            </div>
        </div>

		<!-- Opening and closing date -->
		<div class="row">
			<div class="form-group col-sm-5">
				<label for="start-date" class="col-sm-3">Opening date</label>
				<input type="datetime-local" id="start-date" class="form-control col-sm-6" @bind="@Model.Auction.StartDate" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.StartDate)" />
			</div>
			<div class="form-group col-sm-5	">
				<label for="end-date" class="col-sm-3">Closing date</label>
				<input type="datetime-local" id="end-date" class="form-control col-sm-6" @bind="@Model.Auction.EndDate" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.EndDate)" />
			</div>
		</div>

        <!-- Bids and prices -->
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="starting-bid-amount">Starting bid</label>
                <InputNumber step="0.1" id="starting-bid-amount" class="form-control col-sm-3" @bind-Value="@Model.Auction.StartingBidAmount" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.StartingBidAmount)" />
            </div>

            <div class="form-group col-sm-3">
                <label for="buy-it-now-price">Buy it now price</label>
                <InputNumber step="0.1" id="buy-it-now-price" class="form-control col-sm-3" @bind-Value="@Model.Auction.BuyItNowPrice" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.BuyItNowPrice)" />
            </div>

            <div class="form-group col-sm-3">
                <label for="reserve-price">Reserve price</label>
                <InputNumber step="0.1" id="reserve-price" class="form-control col-sm-3" @bind-Value="@Model.Auction.ReservePrice" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.ReservePrice)" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label for="currency" class="col-sm-4">Select currency</label>
                <select class="auction-select" @bind="@Model.Auction.CurrencyId">
                    @foreach (var item in availableCurrencies)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>

        <!-- Category -->
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="category" class="col-sm-4">Category</label>
                <select class="auction-select" @bind="@Model.Auction.Category">
                    @foreach (var method in Categories)
                    {
                        <option value="@method">@Regex.Replace(method.ToString(), "(\\B[A-Z])", " $1")</option>
                    }
                </select>
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.Category)" />

            </div>
        </div>

        <!-- Delivery -->
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="delivery-method" class="col-sm-4">Delivery method</label>
                <select class="auction-select" @bind="@Model.Auction.DeliveryMethod">
                    @foreach (var method in Methods)
                    {
                        <option value="@method">@Regex.Replace(method.ToString(), "(\\B[A-Z])", " $1")</option>
                    }
                </select>
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.DeliveryMethod)" />
            </div>
        </div>

        <!-- Images-->
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="loaded-files" class="col-sm-4">Load up to 10 images</label>
                <InputFile multiple id="loaded-files" OnChange="LoadFiles" />
                <ValidationMessage class="validation-error" For="@(() => Model.Auction.Images)" />
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }

            </div>

            <div>
                @if (Model.Auction.Images.Any())
                {
                    @RenderImages()
                }
            </div>
        </div>



        <!-- SUBMIT -->
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success" id="save">Save</button>
            </div>
        </div>
    </EditForm>
</section>

<div class="row">
    <a href="/auctions">Take me back</a>
</div>